### Galactica bot related vars ###
TOKEN=YOUR_BOT_TOKEN
BOT_PRESENCE=YOUR_BOT_PRESENCE
# Values: PLAYING, LISTENING, WATCHING, STREAMING, COMPETING
BOT_PRESENCE_TYPE=WATCHING
SERVER_ENABLED=false
SERVER_PORT=3001

### Prisma related vars ###
DATABASE_URL=YOUR_DATABASE_URL
